&-color-box {
  display: none;
  min-height: 3em;
  margin-left: -2em;
  padding: 0.8em;
  padding-left: 2.9em;
  min-width: 8em;
  z-index: -1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.2;

  border: $border;
  border-radius: 0.3em;
  box-sizing: content-box;
  box-shadow: $box-shadow;

  &__color {
    &--rgb,
    &--hex {
    font-size: inherit;
    font-family: inherit;

      &.#{$prefix}-color-box__color {
        &--rgb {
          margin-bottom: 0.4em;
        }
      }
    }
  }

  &__brand {
    height: 1.5em;
    margin: -0.3em 0 0;

    font-size: 1.2667em;
    font-weight: 700;

    background-color: inherit;
    border: none;

    &:focus {
      // outline: 2px solid lighten(color('cerulean', 30), 8%);
      outline: none;
    }

    &::selection {
      color: inherit;
    }

    &::placeholder {
      color: inherit;
    }
  }
}
