@import '../../node_modules/ibm-design-colors/_ibm-colors.scss';
@import 'fonts';

$base-z: 100000;
$box-shadow: 0 0 10px rgba(40, 40, 40, 0.3);
$border: 3px solid #FFF;
$prefix: 'spongy-app';

##{$prefix} {
  @import 'container';
  @import 'canvas';
  @import 'loupe';
  @import 'color-box';

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $base-z;

  font-family: 'HelvIBM', helvetica, arial, sans-serif !important;
  font-weight: 400 !important;

  cursor: crosshair;
}
