@import '../../node_modules/ibm-design-colors/_ibm-colors.scss';
@import 'fonts';
@import 'variables';

##{$prefix} {
  @import 'reset';
  @import 'container';
  @import 'canvas';
  @import 'loupe';
  @import 'color-box';

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $base-z;

  font-family: $font-family;
  font-weight: 400;
  text-align: left;

  background-color: transparent;

  cursor: crosshair;
}
