@import '../../node_modules/ibm-design-colors/_ibm-colors.scss';

$base-z: 100000;
$box-shadow: 0 0 10px rgba(40, 40, 40, 0.3);
$border: 3px solid #FFF;
$prefix: spongyEyeDropper;

##{$prefix} {
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $base-z;

  cursor: crosshair;

  &Canvas {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: $base-z;
  }

  &Container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  &Loupe {
    height: 100px;
    width: 100px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    border: $border;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }

  &ColorBox {
    display: none;
    min-height: 3em;
    margin-left: -1.8em;
    padding: 0.8em;
    padding-left: 3em;
    min-width: 8em;
    z-index: -1;

    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2;

    border: $border;
    border-radius: 0.3em;
    box-sizing: content-box;

    &.active {
      display: block;
      box-shadow: $box-shadow;
    }
  }

  &ColorText {
    display: block;
    margin: 0 0 0.3em;

    font-size: 1.2em;
    text-transform: uppercase;
  }

  &BrandText {
    height: 1.5em;
    border: 1px solid currentColor;

    font-size: inherit;
    font-family: inherit;

    background-color: rgba(#FFF, 0.9);
  }
}


.#{$prefix} {
  &Pixel {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 1px rgba(40, 40, 40, 0.3);

    &.middle {
      position: relative;
      box-shadow: 0 0 0 2px rgba(40, 40, 40, 0.5);
    }
  }
}
