@import '../../node_modules/ibm-design-colors/_ibm-colors.scss';
@import 'fonts';

body {
  min-width: 15rem;
  font-family: $font-family;
  color: color('cool-gray', 90);
}

kbd {
  display: inline-block;
  padding: 0.2em 0.5em;
  position: relative;
  top: -0.2em;

  background-color: color('gray', 1);
  border-radius: 0.3em;
  box-shadow: 0 3px 0 color('gray', 20);
}
